# python packages needed
openai
anthropic
google-generativeai

# langchain common modules
langchain
langchain-community
llama-index

# for OpenAI
langchain-openai
# for accessing Google Gemini
langchain-google-genai
# for Anthropic Claude
langchain-anthropic
# for Groq
langchain-groq

streamlit
pypdf2
python-dotenv
faiss-cpu
huggingface_hub
black
psycopg2
tiktoken
# chromadb
beautifulsoup4
yfinance
uvicorn
rich

# for GUI in notebooks
# panel
# jupyter-bokeh
# # for local llama
# sentence-transformers
# ctransformers
# python-box
# fastapi[standard]
# uvicorn




