# python packages needed
openai
langchain-openai
streamlit
chainlit
pypdf2
python-dotenv
faiss-cpu
huggingface_hub
black
psycopg2
tiktoken
chromadb
beautifulsoup4
# for GUI in notebooks
panel
jupyter-bokeh
# for local llama
sentence-transformers
uvicorn
ctransformers
python-box
# for accessing Google Gemini
google-generativeai
langchain-google-genai
# for Anthropic Claude
langchain-anthropic





